
* {
  box-sizing: border-box;
}

html {
  height: 100vh; 
  margin: 0px;
}

body {
  display: flex;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  min-width: 320px;
  width: 100%;
}

aside {
  background-color: #1F1F3D;
  min-width: 250px;
  width: 25%;
}

h2 {
  color: #FFFFFF;
  font-size: 1.2em;
  padding-left: 20px;
}

ul {
  color: #FFFFFF;
  list-style-type: none;
  padding-left: 20px;
}

li {
  padding-bottom: 10px;
  padding-top: 10px;
}

li:hover {
  background-color: #D14119;
  border-left: 10px solid #F58E72;
  margin-left: -20px;
  padding-left: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 75%;
}

textarea {
  border-color: #1F1F3D;
  border-width: 1px;
  height: 79px;
}

img{
  height: 25px;
}

p {
  margin: 0% 0% 0% 0%;
}

button {
  padding: 0;
}

.starred-ideas {
  border-bottom: 1px solid #5356A4;
  border-top: 1px solid #5356A4;
}

.aside-labels {
  color: #BFBFDD;
  font-size: .8em;
  font-weight: 300;
  padding-left: 20px;

}

.aside-button {
  background-color: #5356A4;
  border-color: #353567;
  border-radius: 2.5px;
  color: #E9E9F3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  height: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
  width: 85%;
}

.new-qualities-form{
  border-bottom: 1px solid #5356A4;
}

.input-section {
  align-items: center;
  background-color: #A9AAD2;
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  height: 385px;
  width: 100%;
}

.input-form {
    border-radius: 2.5px;
    display: flex;
    flex-direction: column;
    margin: 3% 0% 0% 0%;
    width: 400px;
}

.title-input {
  border-color: #1F1F3D;
  border-radius: 2.5px;
  border-width: 1px;
  height: 35px;
  margin: 0% 0% 5% 0%;
}

.save-button {
    background-color: #1F1F3D;
    border-radius: 2.5px;
    border: none;
    color: #FFFFFF;
    font-size: 22px;
    height: 45px;
    margin: 7% 0% 0% 0%;
}

.save-button:disabled{
  background-color: #5356A4 ;
}

.save-button:hover {
  background-color: #D14119;
}

.search-input-container {
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  margin: 2% 0% 0% 0%;
  width: 400px;
}

.search-input {
  border-bottom: 2px solid;
  border-color: #1F1F3D;
  border-left: none;
  border-radius: 0px 2.5px 2.5px 0px;
  border-right: 2px solid;
  border-top: 2px solid;
  border: none;
  height: 40px;
  width: 362px;
}

.search-input::placeholder {
  color: #1F1F3D;
  font-size: 18px;
  font-weight: 200;
}

.search-button {
  background-color: #1F1F3D;
  border-radius: 2.5px 0px 0px 2.5px;
  border: none;
  height: 40px;
  margin: 0% 0% 0% 0%;
  width: 40px;
}

.search-button:hover {
  background-color: #D14119;
}

.card-section {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 500px;
  padding-top: 30px;
  width: 100%;
}

.idea-card  {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 30%;
}

.card-top {
  background-color: #1F1F3D;
  display: flex;
  height: 35px;
  justify-content: space-between;
}

.card-bottom {
  align-items: center;
  background-color: #A9AAD2;
  display: flex;
  height: 35px;
  justify-content: space-between;
  margin: 0% 0% 0% 0%;
}

.star-button {
  background-color: #1F1F3D;
  border: none;
}

.delete-button {
  background-color: #1F1F3D;
  border: none;
}

.upvote-button {
  background-color: #A9AAD2;
  border: none;
  height: 25px;
  padding: 0;
  width: 25px;
}

.quality-label {
  padding-bottom: 3px;
}

.downvote-button {
  background-color: #A9AAD2;
  border: none;
  height: 25px;
  padding: 0;
  width: 25px;
}

.new-quality-input {
  display: block;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
  width: 83%;
}

.filter-selected {
  background-color: #D14119;
  border-left: 10px solid #F58E72;
  font-weight: 700;
  margin-left: -20px;
  padding-left: 10px;
}

.no-idea{
  display: flex;
  font-size: 40px;
  margin-top: 60px;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.mobile-nav {
  display: none;
}

.opacity {
  opacity: 0.2;
}
}


@media screen and (max-width: 900px){

aside {
    background-color: #1F1F3D;
    min-width: 250px;
  }

body{
    width: 100%;
  }

.idea-card{
    width: 45%;
  }

}

@media screen and (max-width: 680px) {


aside {
    background-color: #1F1F3D;
    display: none;
    width: 100%;
  }

body {
    flex-direction: column;
  }

main {
    width: 100%
  }

.idea-card {
    width: 95%;
  }

.input-form {
    max-width: 400px;
    width: 90%;
  }

.search-input-container {
    max-width: 400px;
    width: 90%;

  }
.mobile-nav {
  background-color: #1F1F3D;
  color: #FFFFFF;
  display: block;
  display: flex;
  height: 60px;
  justify-content: center;
  }

.mobile-nav-title {
  margin: 15px auto 0 auto;
  padding-left: 0;
  }

.hamburger-button {
  margin-left: 15px;
  margin-right: -42px;
  margin-top: 15px;
  }
}


